[submodule "rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "emacs-js2-mode"]
	path = vendor/emacs-js2-mode
	url = git://github.com/adolfosousa/emacs-js2-mode.git
[submodule "haml-mode"]
	path = vendor/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "sass-mode"]
	path = vendor/sass-mode
	url = git://github.com/nex3/sass-mode.git
[submodule "cucumber.el"]
	path = vendor/cucumber.el
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "yasnippets-rails"]
	path = yasnippets/yasnippets-rails
	url = git://github.com/eschulte/yasnippets-rails.git
[submodule "yasnippets-jquery"]
	path = yasnippets/yasnippets-jquery
	url = git://github.com/jpablobr/yasnippets-jquery.git
[submodule "rspec-mode"]
	path = vendor/rspec-mode
	url = git://github.com/pezra/rspec-mode.git
